<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  <link rel='stylesheet' id='contact-form-7-css' href='/css/styles.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-plugin-settings-css' href='/css/settings.css' type='text/css' media='all' />
  <link rel='stylesheet' id='font-awesome-css' href='/css/font-awesome.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='yogax-streamline-css' href='/css/yogax-streamline.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='iconsmind-css' href='/css/iconsmind.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='ttbase-framework-font-css' href='/css/ttbase-font.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='ttbase-framework-plugins-css' href='/css/plugins.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='ttbase-framework-shortcodes-css' href='/css/shortcodes.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='yogax-fonts-css' href='https://fonts.googleapis.com/css?family=Source%2BSans%2BPro%3A400%2C400i%2C600%2C700%7CQuicksand%3A400%2C700%7CMerriweather%3A400%2C400i&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
  <link rel='stylesheet' id='js_composer_front-css' href='/css/js_composer.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='yogax-theme-css' href='/css/theme.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='jquery-ui-smoothness-css'  href='/css/jquery-ui.min.css' type='text/css' media='screen' />
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300italic,400italic,500italic,600italic,700italic,800italic,400,300,500,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300italic,400italic,500italic,600italic,700italic,800italic,400,300,500,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300italic,400italic,500italic,600italic,700italic,800italic,400,300,500,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300italic,400italic,500italic,600italic,700italic,800italic,400,300,500,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Quicksand:400|Source+Sans+Pro:300%2C400|Open+Sans:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
  <script type='text/javascript' src='/js/jquery.js'></script>
  <script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "HealthClub",
    "name": "Life Align Pilates",
    "url": "http://www.lifealignpilates.com/",
    "telephone": "+14074467587",
    "email": "kendall.volkman@gmail.com",
    "image": "http://www.lifealignpilates.com/assets/images/lifealign-logo.png",
    "description": "",
    "priceRange": "$75",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Orlando",
      "addressRegion": "FL",
      "postalCode": "32811",
      "streetAddress": "4602 35th St #400"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "28.504008",
      "longitude": "-81.438693"
    }
  }
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115884588-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115884588-1');
  </script>
</head>
