<header id="masthead" class="header transparent full header-border">
  <nav class="navigation v-align">
    <div class="container-fluid">
      <div class="row v-align">
        <!-- normal size logo -->
        <div class="logo-wrapper">
          <a href="/" id="site-logo" title="LifeAlign Pilates" rel="home">
            <img src="/assets/images/lifealign-logo-flower.png" alt="LifeAlign Pilates" style="height:70px;width:70px;float:left;vertical-align:middle" />
            <span style="display:block;font-size:30px;line-height:70px;margin-left:80px;width:220px">LifeAlign Pilates</span>
          </a>
        </div>
        <!-- Menu -->
        <div class="col-md-12">
          {% include navigation.html %}
        </div>
      </div>
    </div>
  </nav>
</header>
<div id="mobile-header" class="mobile-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 v-align">
        <div id="mobile-logo" class="logo">
          <a href="/" id="site-logo-mobile" title="LifeAlign Pilates" rel="home">
            <img src="/assets/images/lifealign-logo-flower.png" alt="LifeAlign Pilates" style="height:50px;width:50px;float:left;vertical-align:middle" />
            <span style="display:block;font-size:30px;line-height:50px;margin-left:60px;width:220px">LifeAlign Pilates</span>
          </a>
        </div>
        <a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>
</div>
{% include navigation-mobile.html %}
