<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="description" content="{% if page.meta.description %}{{ page.meta.description }}{% endif %}" />
  <meta name="keywords" content="pilates,fitness,exercise,kendall" />
  <meta name="revisit-after" content="1 day" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html', ''}}">
  <link type="text/css" rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Abel:regular|Josefin Slab:regular|Open+Sans:300,400,600,700,800|Open Sans Condensed:700" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/lifealign.css" />
</head>
