<!doctype html>
<!--[if IE 9]><html lange="en" dir="ltr" class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" dir="ltr">
<!--<![endif]-->

{% include head.html %}

<body class="home page-template-default page page-id-6 ttbase-shortcodes  ttbase-shortcodes-responsive wpb-js-composer js-comp-ver-5.0.1 vc_responsive">
  <div id="page" class="site-wrapper full-width header-transparent-full">
    {% include header.html %}
    {{ content }}
  </div>
  </div>
  </div>
  </div>
  {% include footer.html %}
</body>
</html>
